body {
    margin: 0
}

div.container {
    background-color: yellow;
    margin: auto;
    max-width: calc(0.67*100vh);
    display: flex;
    flex-direction: column;
    gap: 1mm;;
}

section#top-menu {
    height: 1cm;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#season {
    background-color: none;
    z-index: 1000;
    
    width: 3cm;
    height: 4cm;
    align-self: normal;
    margin-top: -1cm;
}

#season img {
    width: 100%;
}

section#top-menu .menu-btn {
    background-color: aqua;
    min-width: 0.4cm;
    height: 0.8cm;
    border-radius: 0.4cm;
    padding-left: 0.2cm;
    padding-right: 0.2cm;

    border-width: 1px;
    border-style: solid;
    border-width: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.1cm;
}

section#card {
    background-image: url('img/explore_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 2cm - 2mm);
    border-radius: 0.5cm;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section#card .top-logo {
    background-color: aqua;
    width: 1cm;
    height: 1cm;
    border-radius: 50%;

    border-width: 1px;
    border-style: solid;
    border-width: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.5cm;
}

section#card-title {
    display: none;
    background-color: white;
    text-align: center;
}

section#card-content {
    background-color: #181715;
    margin: 0.5cm;
    height: 40%;
    display: flex;
    flex-direction: column;

    border-width: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    box-shadow: gray 0px 0px 1px 2px;
}

section#card-content > div {
    display: flex;
    flex-grow: 1;
    min-height: 50%;
}

.card-cell {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    
    display: flex;
    flex-direction: row;
    align-content: stretch;
    min-width: 50%;
}
.card-cell > div {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}
.card-cell > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-cell img {
    height: 40%;
}

#card-cell-cases > div {
    min-width: 50%
}
#card-cell-cases img[src*=coin] {
    height: 25%;
}

section#bottom-menu {
    background-color: blue;
    height: 1cm;
}